{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-syntax-object-rest-spread", 
        "@babel/plugin-syntax-dynamic-import",
        ["module-resolver", {
              "root": ["./"],
              "alias": {
                "AppSrc": "./src",
              }
            }
        ]
    ]
}
